   {% extends "base.html" %}

{% load staticfiles %}
   <style>
        {% block style %}
        .hd-img {
            background-image: url({{header.main_article.image.url}});

       }
        .inf {
            margin-top: 0px;
        }
        {% endblock style %}
  </style>

    {% block content %}

  <div class="row">
    <div id="side-enu" class="side ">
        <div class="sticky-top" style="padding-top:70px">
            {% for article in articles_list %}
  <a class="list-group-item list-group-item-action" href="#{{article.slug}}"><img src="img/tesla.jpg" style="width:50px" alt="..." class=""> Article 1</a>
            {% endfor %}
  <div class="next-prev btn-group" href="#item-4"><button type="button" class="btn btn-secondary btn-prev"><i class="fa fa-arrow-left fa-invers"></i>  </button>
  <button type="button" class="btn btn-secondary btn-nex"> <i class="fa fa-arrow-right fa-invers"></i></button>
 </div>
            <div id="accordion" role="tablist" style="margin-top:0">
                  <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          <strong> NEWSLETTER </strong> <i class="fa fa-newspaper-o float-right" aria-hidden="true"></i>
                        </a>
                      </h5>
                      </div>
                      <div id="collapseOne" class="collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4" class="col-form-label">First Name</label>
      <input type="firstname" class="form-control" id="inputEmail4" placeholder="First Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4" class="col-form-label">Last Name</label>
      <input type="lastname" class="form-control" id="inputPassword4" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress" class="col-form-label">Email</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Email">
  </div>

  <button type="submit" class="btn btn-primary">Subscribe</button>
</form>
                          </div>
                        </div>
                      </div>
                </div>

</div>
    <div class="container ad" style="margin-top:50px"><a><img src="img/ad7.jpg" class="img-fluid" alt="Responsive image"></a></div>
    <div class="container ad" style="margin-top:50px"><a><img src="img/ad8.jpg" class="img-fluid" alt="Responsive image"></a></div> <div class="container ad" style="margin-top:50px"><a><img src="img/ad9.png" class="img-fluid" alt="Responsive image"></a></div>
    <div class="container ad" style="margin-top:50px"><a><img src="img/ad10.jpg" class="img-fluid" alt="Responsive image"></a></div> <div class="container ad" style="margin-top:50px"><a><img src="img/ad11.jpg" class="img-fluid" alt="Responsive image"></a></div>
    <div class="container ad" style="margin-top:50px"><a><img src="img/ad12.jpg" class="img-fluid" alt="Responsive image"></a></div> <div class="container ad" style="margin-top:50px"><a><img src="img/ad13.gif" class="img-fluid" alt="Responsive image"></a></div>

    </div>

    <div class="col-md-10 content-2" >

{% for ad, article in ads_article %}

<div id="{{article.slug}}" style="padding-top:120px">
    {% if ad %}
    <div class="container ad"><a><img src="{{ad.image.url}}" class="img-fluid" alt="Responsive image"></a></div>
     <hr style="margin-top:60px" />
    {% endif %}
    <div class="row ">
  <h4   class="display-4 col" >{{article.title}}</h4>
  <div class="">
    <span class="fa-stack fa-lg ">
  <i class="fa fa-circle fa-stack-2x" style="color:#3b5998"></i>
  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
</span>
    <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x" style="color:#4099FF"></i>
  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
</span>
    <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x" style="color:#d62d20"></i>
  <i class="fa fa-google fa-stack-1x fa-inverse"></i>
</span>
      <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x" style="color:black" ></i>
  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
</span>
    </div></div>
    <div class="row">
    <div class="col-5">
        <img src="{{ article.image.url}}" class="img-fluid float-right " alt="Responsive image" style="margin:40px">
    </div>
    <div class="col-7">
    <p >{{article.content}}</p>
    </div>
    </div>
    </div>
                 <hr style="margin-top:60px" />

        {% endfor %}
        </div>
         <hr style="margin-top:100px" />
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false" style="margin-top:100px">

        <div class="container ">
            <h1> Recomended</h1>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row">
      <div class="col-3" ><div class=" sm-art" data-tilt data-tilt-glare="true" data-tilt-perspective="3000" data-tilt-transition="true"  data-tilt-scale="1" href=" " title="Tilt.js demo " data-tilt-speed="500" data-tilt-max="15" data-tilt-maxGlare="0.3" data-tilt-easing="cubic-bezier(.03,.98,.52,.99)">
                    <div  class="sm-article-img"  style="background-image: url(../img/res.jpg);"></div>
                    <div class="col article" ><h5>Big Wave in the 2017 TC4 conference in Ruxburry</h5>
        <p style="margin-top:-10px" class="info"><small class="text-muted">August 29th, 2016</small> Business</p></div>
                        </div></div>
                    <div class="col-3" ><div class=" sm-art" data-tilt data-tilt-glare="true" data-tilt-perspective="3000" data-tilt-transition="true"  data-tilt-scale="1" href=" " title="Tilt.js demo " data-tilt-speed="500" data-tilt-max="15" data-tilt-maxGlare="0.3" data-tilt-easing="cubic-bezier(.03,.98,.52,.99)">
                    <div  class="sm-article-img"  style="background-image: url(../img/tennis.jpg);"></div>
                    <div class="col article" ><h5>Big Wave in the 2017 TC4 conference in Ruxburry</h5>
        <p style="margin-top:-10px" class="info"><small class="text-muted">August 29th, 2016</small> Business</p></div>
                        </div></div>
                     <div class="col-3" ><div class=" sm-art" data-tilt data-tilt-glare="true" data-tilt-perspective="3000" data-tilt-transition="true"  data-tilt-scale="1" href=" " title="Tilt.js demo " data-tilt-speed="500" data-tilt-max="15" data-tilt-maxGlare="0.3" data-tilt-easing="cubic-bezier(.03,.98,.52,.99)">
                    <div  class="sm-article-img"  style="background-image: url(../img/politics.jpg);"></div>
                    <div class="col article" ><h5>Big Wave in the 2017 TC4 conference in Ruxburry</h5>
        <p style="margin-top:-10px" class="info"><small class="text-muted">August 29th, 2016</small> Business</p></div>
                        </div></div>
        <div class="col-3" ><div class=" sm-art" data-tilt data-tilt-glare="true" data-tilt-perspective="3000" data-tilt-transition="true"  data-tilt-scale="1" href=" " title="Tilt.js demo " data-tilt-speed="500" data-tilt-max="15" data-tilt-maxGlare="0.3" data-tilt-easing="cubic-bezier(.03,.98,.52,.99)">
                    <div  class="sm-article-img"  style="background-image: url(../img/hel.jpg);"></div>
                    <div class="col article" ><h5>Big Wave in the 2017 TC4 conference in Ruxburry</h5>
        <p style="margin-top:-10px" class="info"><small class="text-muted">August 29th, 2016</small> Business</p></div>
                        </div></div>
    </div>
        </div>
    <div class="carousel-item">
        <div class="row">
        <div class="col-3" ><div class=" sm-art" data-tilt data-tilt-glare="true" data-tilt-perspective="3000" data-tilt-transition="true"  data-tilt-scale="1" href=" " title="Tilt.js demo " data-tilt-speed="500" data-tilt-max="15" data-tilt-maxGlare="0.3" data-tilt-easing="cubic-bezier(.03,.98,.52,.99)">
                    <div  class="sm-article-img"  style="background-image: url(../img/header.jpg);"></div>
                    <div class="col article" ><h5>Big Wave in the 2017 TC4 conference in Ruxburry</h5>
        <p style="margin-top:-10px" class="info"><small class="text-muted">August 29th, 2016</small> Business</p></div>
                        </div></div>
                    <div class="col-3" ><div class=" sm-art" data-tilt data-tilt-glare="true" data-tilt-perspective="3000" data-tilt-transition="true"  data-tilt-scale="1" href=" " title="Tilt.js demo " data-tilt-speed="500" data-tilt-max="15" data-tilt-maxGlare="0.3" data-tilt-easing="cubic-bezier(.03,.98,.52,.99)">
                    <div  class="sm-article-img"  style="background-image: url(../img/tesla.jpg);"></div>
                    <div class="col article" ><h5>Big Wave in the 2017 TC4 conference in Ruxburry</h5>
        <p style="margin-top:-10px" class="info"><small class="text-muted">August 29th, 2016</small> Business</p></div>
                        </div></div>
                     <div class="col-3" ><div class=" sm-art" data-tilt data-tilt-glare="true" data-tilt-perspective="3000" data-tilt-transition="true"  data-tilt-scale="1" href=" " title="Tilt.js demo " data-tilt-speed="500" data-tilt-max="15" data-tilt-maxGlare="0.3" data-tilt-easing="cubic-bezier(.03,.98,.52,.99)">
                    <div  class="sm-article-img"  style="background-image: url(../img/tennis.jpg);"></div>
                    <div class="col article" ><h5>Big Wave in the 2017 TC4 conference in Ruxburry</h5>
        <p style="margin-top:-10px" class="info"><small class="text-muted">August 29th, 2016</small> Business</p></div>
                        </div></div>
        <div class="col-3" ><div class=" sm-art" data-tilt data-tilt-glare="true" data-tilt-perspective="3000" data-tilt-transition="true"  data-tilt-scale="1" href=" " title="Tilt.js demo " data-tilt-speed="500" data-tilt-max="15" data-tilt-maxGlare="0.3" data-tilt-easing="cubic-bezier(.03,.98,.52,.99)">
                    <div  class="sm-article-img"  style="background-image: url(../img/res.jpg);"></div>
                    <div class="col article" ><h5>Big Wave in the 2017 TC4 conference in Ruxburry</h5>
        <p style="margin-top:-10px" class="info"><small class="text-muted">August 29th, 2016</small> Business</p></div>
                        </div></div>
   </div>
      </div>


</div>


    </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
   <span class="fa-stack fa-2x">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-arrow-circle-left fa-stack-1x "></i>
</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="fa-stack fa-2x">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-arrow-circle-right fa-stack-1x "></i>
</span>
  </a>
        </div>

    {% endblock content %}